<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/portal/portal.css">
    <title>Інформаційний портал</title>
</head>
<body>
    <div class="header">
        <a href="/views/index.html"><img src="/img/logo.png" alt="logo"> </a> 
          <h3>Військовий інститут телекомунікацій та інформатизації
          імені Героїв Крут</h3>  
        <div class="header-right">
          <a href="/views/portal.html">Головна</a>
          <a href="#about">Новини</a>
        </div>
      </div>
      <div class="content-news">
        <div class="date-news-top">
            <p>11 листопада 2022, 17:40 |</p>
            <hr style="color: black;">
        </div>
        <h1 style="text-align: center;">Ворожа пропаганда атакує ІТ-систему ситуаційної обізнаності ЗСУ</h1>
        <img src="/img/d20d82aaa9caa1804f26a6292680febfdc0ff580.jpg" width="600" height="500"  alt="attention">
        <p>Розпочалася нова хвиля інформаційної атаки на систему ситуаційної обізнаності, яку використовують Збройні Сили України.
            Сьогодні російськими пропагандистськими ресурсами розпочата нова інформаційно-психологічна операція ворога (іпсо), а саме шириться інформація про нібито злам системи ситуаційної обізнаності, що використовується Збройними Силами України. 
            Ця іпсо розпочата ворогом саме зараз, невипадково, адже нещодавно оновлена версія цієї системи була успішно представлена на щорічній конференції експертів та розробників NATO Tide Sprint. Тому невдовзі після цього ворог з метою дискредитації почав атакувати систему і поширювати мережею пропагандистських ресурсів інформацію про нібито злам та доступ до її даних.     
            Щоб припинити підхоплення дезінформації ворога вітчизняними інформаційними ресурсами Міністерство оборони України повідомляє, що система працює стабільно, дані в ній надійно захищені, і несанкціонованих проникнень не зафіксовано. У Міноборони над захистом системи працюють найкращі ІТ-розробники та фахівці з кібербезпеки, які моніторять ворожу активність в режимі реального часу.       
            Міністерство оборони України усвідомлює, що інформаційні системи та інструменти, які застосовують наші захисники, є стратегічною ціллю для ворога, як і критична або енергетична інфраструктура країни. Водночас, оборонне відомство констатує, що ця іпсо ворога є провальною.
        </p>
        <hr>
        <div class="date-news">
            <p>9 листопада 2022, 9:20 |</p>
            <hr style="color: black;">
        </div>
        <h1 style="text-align: center;">Англійські корови вже користуються технологією 5G</h1>
        <img src="/img/news2.jpg" width="700" height="500" alt="cows">
        <p>Компанія Cisco Systems, яка розробляє інфраструктуру для мереж 5G, встановила випробувальні стенди 5G в трьох сільських районах Сполученого Королівства.
            ехнологія 5G дозволить не тільки підвищити швидкість передачі даних, але і надасть нові можливості розширення інтернету речей. Або, як це має місце у випадку з проектом, про який піде мова нижче, — інтернету тварин.
            У фінансованому урядом центрі інновацій в галузі сільськогосподарського машинобудування (Agri-EPI Center), розташованому на південному заході Англії, корови стали першими користувачами мереж 5G. Близько 50 голів у стаді з 180 оснащені вушними бирками для моніторингу стану здоров’я і розумними ошийниками з підключенням по 5G. Ошийники керують роботизованою системою доїння.
            Коли корова готова до доїння, вона підходить до воріт доїльної платформи, які автоматично відкриваються. Пристрій розпізнає особину, щоб точно закріпити доїльний апарат. Як стверджується, гаджети не завдають шкоди коровам, а моніторинг дозволяє своєчасно виявляти ознаки будь-яких порушень.
            За словами організаторів тестування, воно покликане оцінити переваги передачі даних від датчиків по мережі 5G, а не через ПК ферми і порівняно повільне широкосмугове підключення.
            На фермі, створеній Agri-EPI Center за підтримки британського агентства з інновацій, використовуються й інші новаторські рішення, включаючи автоматичні щітки, які починають обертатися, коли корова треться об них; жалюзі, керовані датчиком погоди, і розумна система годівлі.

        </p>
        <hr>
        <div class="date-news">
            <p>9 листопада 2022, 8:35 |</p>
            <hr style="color: black;">
        </div>
        <h1 style="text-align:center;">
            Мінцифри використало портал «Дія» для запуску нового сайт</h1>
            <img src="/img/news3.jpg" alt="siteDiya">
            <p>У проекту "еРобота" з'явився офіційний веб-ресурс. Для запуску розробники Мінцифри використовували державний портал «Дія». На сайті буде розміщуватись інформація про умови надання українським урядом грантів для початку своєї справи</p>
            <h2>Подробиці:</h2>
            <p>З оприлюдненого прес-службою КМУ повідомлення випливає, що гранти українським громадянам надаватимуться за наведеними нижче напрямками:
                <ul>
                <li>"Своя справа" (250 000 грн на створення одного робочого місця).</li>
                <li>"Свій сад" (400 000 грн за закладку фруктового саду площею до 25 гектарів).</li>
                <li>"Своя теплиця" (7 млн ​​грн на створення тепличного господарства).</li> 
                <li>"Новий рівень" (8 млн грн на створення переробного виробництва).</li> 
                <li>Старт в ІТ (на освоєння ІТ-спеціальності).</li> 
                <li>ІТ-стартап (3,5 млн грн на розвиток бізнесу ІТ-стартапів).</li>
                Останні два напрями перебувають у стадії розробки. Підприємці вже встигли одержати на зазначені вище цілі понад 201 млн. грн.
            </ul></p>
      </div>
</body>
</html>