<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/portal/portal.css">
    <link rel="stylesheet" href="../style/portal/sliders.css">
    <title>Інформаційний портал</title>
</head>
<body>
    <div class="header">
        <a href="../index.html"><img src="../img/logo.png" alt="logo"> </a> 
          <h3>Військовий інститут телекомунікацій та інформатизації
          імені Героїв Крут</h3>  
        <div class="header-right">
          <a href="#golovna">Головна</a>
          <a href="#contact">Контакти</a>
          <a href="../views/news.html">Новини</a>
        </div>
      </div>
      
      <div class="slideshow-container" id="golovna">
        <div class="mySlides fade">
          <img src="../img/slider1.jpg" >
          <div class="text">
              <h2>Безпека</h2>
              <p>Безпека зв’язку один з найважливіших критерій</p>
           </div>
        </div>
        <div class="mySlides fade">
          <img src="../img/slider2.jpg" >
          <div class="text2">
            <h3>Зв’язок</h3>
            <p>Підтримка та постійний зв'язок;</p>
          </div>
        </div>
        <div class="mySlides fade">
          <img src="../img/slider3.jpeg" >
          <div class="text3">
            <h3>Мережа</h3>
            <p>засекречування та передачі даних задача організовувати засекреченість каналів їх підтримання в боєготовності та
               передача ігформації з типами обмеження тобто дск і таємно;</p>
          </div>
        </div>
      </div>
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(0)"></span>
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
      </div>
      <div id="sector1">
        <div class="container sector1">
          <div class="row centered">
            <br><br>
            <div class="col-lg-4">
              <i class="fas fa-satellite"></i>
              <h4>Зв’язок</h4>
              <p>обмін усім видами
                інформації між органами й пунктами управління (всіх ланок) з відповідною
                пропускною спроможністю, достовірністю та надійністю.
                </p>
            </div>
            <div class="col-lg-4">
              <i class="fas fa-satellite-dish"></i>
              <h4>Мережа</h4>
              <p>Нарощування мережі обміну службовою інформацією.
              Нарощування захищеної системи обміну інформацією</p>
            </div>
            <div class="col-lg-4">
              <i class="fa fa-laptop "></i>
              <h4>Системи</h4>
              <p>Визначення та обґрунтування шляхів та напрямків досягнення сумісності системи зв'язку та інформатизації Збройних Сил України з системами зв'язку та інформатизації Збройних Сил</p>
            </div>
          </div>
      </div>
      <div id="sector2">
        <div class="general-inf">
            <div class="container">
              <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                  <h4>Основний напрям діяльності та наша головна мета</h4>
                  <p>Головною метою розвитку системи зв’язку Збройних сил України є
                  створення єдиного інформаційно-телекомунікаційного середовища на основі
                  впровадження сучасних інформаційно-телекомунікаційних технологій,
                  протоколів обміну інформацією, комплексів, систем та засобів зв’язку
                  спеціального призначення, що дасть можливість забезпечити обмін усім видами
                  інформації між органами й пунктами управління (всіх ланок) з відповідною
                  пропускною спроможністю, достовірністю та надійністю.
                  За останні два роки частини та підрозділи зв’язку зазнали певного
                  розвитку, отримали на озброєння новітні цифрові засоби та техніку зв’язку, що
                  дало можливість успішного виконання ними завдань за призначенням. На
                  сьогоднішній день система зв’язку і автоматизації переведена на цифрові
                  засоби зв’язку, що дозволяє забезпечити виконання першочергових завдань з
                  управління військами
                  </p>
                </div>
              </div>
              <div class="container-person">
                <div class="row centered">
                  <br><br>
                  <div class="col-lg-8 col-lg-offset-2">
                    <h4>Інформаційно-телекомунікаційний вузол ВІТІ</h4>
                    <h4>Склад вузла має 3 підрозділи:</h4>
                     <ul>
                        <li>1 підрозділ -інформаційних систем</li>
                        <li>2 підрозділ- телекомунікаційних систем</li>
                        <li>3 підрозділ-засекречування та передачі даних</li>
                      </ul>
                    <p><br><br></p>
                    <p>Галерея</p>
                    <hr style="width: 1500px;">
                    <div class="galary-place">
                     <a href="../img/gallery1.jpg"><img src="../img/gallery1.jpg" width="150" height="110" alt="foto1"></a> 
                     <a href="../img/gallery2.jpg"><img src="../img/gallery2.jpg" width="150" height="110" alt="foto2"></a> 
                     <a href="../img/gallery3.jpg"><img src="../img/gallery3.jpg" width="150" height="110" alt="foto3"></a> 
                     <a href="../img/gallery4.jpg"><img src="../img/gallery4.jpg" width="150" height="110" alt="foto4"></a> 
                     <a href="../img/gallery5.jpg"><img src="../img/gallery5.jpg" width="150" height="110" alt="foto5"></a> 
                     <a href="../img/gallery6.jpg"><img src="../img/gallery6.jpg" width="150" height="110" alt="foto6"></a> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
        <footer id="contact">
            <div class="container-footer">
                <div class="row justify-content-center">
                    <div class="col-lg-3 item social">
                      <a href="https://twitter.com/viti_krut"><img src="../img/733579.png" alt="twitter"></a>
                      <a href="https://www.facebook.com/viti.edu.ua"><img src="../img/2111463.png" alt="google"></a>
                      <a href="http://www.viti.edu.ua/"><img src="../img/300221.png" alt="instagram"></a>
                        <p class="copyright">Pereverziev Ruslan © 2022</p>
                    </div>
                </div>
            </div>
        </footer>
      </body>
<script src="../script/sliders.js"></script>
</html>